h2 {
    font-size: 1.1rem;
    margin: 1.5rem 0 !important;
    opacity: 0.7;
}

p {
    font-size: 0.8rem;
    line-height: 2;
}

.disc li {
    font-size: 0.8rem;
    line-height: 2;
    list-style-type: disc;
    margin-left: 1.5rem;
}