.social-media{
    display: flex;
    flex-wrap: nowrap;
}

.social-media i{
    padding: 1rem;
    margin: 0.3rem;
    font-size: 1.3rem;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-links li a{
    padding: 1rem;
    color: #666666;
    text-decoration: none;
    line-height: 2.5;
    padding: 0;
}

.terms-conditons{
    font-size: 0.7rem;
    opacity: 0.5;
    margin: 0 2rem;
}

