/* 0 rupee sign and text */
.pricing-text{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.pricing-text img{
    position: absolute;
    width: 70%;
    left: 0.7rem;
}

.pricing-text p{
    position: absolute;
    bottom: 1.7rem;
    right: 1.2rem;
    font-size: 0.7rem;
}